name: Publish package
on:
  release:
    types: [published]
  workflow_dispatch: {}
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: "24.x"
          registry-url: "https://registry.npmjs.org"
          scope: "@alpic80"
      - uses: pnpm/action-setup@v4
      - run: pnpm install --frozen-lockfile
      - run: pnpm typecheck
      - run: pnpm build
      - name: Publish to npm
        run: |
          if [ "${{ github.event.release.prerelease }}" = "true" ]; then
            NODE_AUTH_TOKEN="" pnpm publish --provenance --access public --no-git-checks --tag beta
          else
            NODE_AUTH_TOKEN="" pnpm publish --provenance --access public --no-git-checks
          fi
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
